name: CI

on:
  push:
    branches:
      - main
      - release-1.x
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - uses: golangci/golangci-lint-action@v6
        with:
          version: v1.59.1 # renovate: datasource=github-releases depName=golangci/golangci-lint

  test:
    strategy:
      matrix:
        go-version:
          - "1.21"
          - "1.22"

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - run: go test -coverprofile=coverage.txt -v -race ./...

      - uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.22"
          cache: false

      - run: go generate ./...

      - run: git diff --exit-code

      - if: failure()
        run: echo "::error::Check failed, please run 'go generate ./...' and commit the changes."
